@import "~bootstrap/scss/bootstrap.scss";



body {
    background: black;
    font-family: 'Turret Road', cursive;
}

.home{
    margin-top: 120px;
}


.card-planets, .card-characters{
    background: black;
     margin: auto;
}

.title{
    color:white;
}


.nav-link, .list-group{
    width: 20%;
}

.categories{
    text-align: center;
    font-size: 40px;
    color: orange;
    border-top: 3px solid #FF4500;
    border-bottom: 3px solid #FF4500;
    box-sizing: border-box;

}
.nav-item i {
		font-size: 18px;
		line-height: 16px;

	}
.navbar-brand{
    margin: auto;
    text-align: center;
}
